<nav class="navbar navbar-expand-lg navbar-light sticky-top">

  <div class="container-fluid">

    <div class="row col-md-8 mx-auto px-0">

      <a class="navbar-brand text-light" href="{{site.url}}"> 
        <span class="h4"> 
          <i class="bi bi-house-fill navlinks"></i>
        </span>
      </a>

      <!-- Navbar collapse button -->
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="bi bi-list"></i></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link navlinks float-right" href="{{ site.url | append:'/publications'}}">Publications</a>
          </li>

          <li class="nav-item">
            <a class="nav-link navlinks float-right" href="{{ site.url | append:'/Harshit_Varma_CV.pdf'}}">CV</a>
          </li>

          <li class="nav-item">
            <a class="nav-link navlinks float-right" onclick="modeSwitcher()"><i id="theme-toggle" class=""></i></a>
          </li>

        </ul>
      </div>
    </div>

  </div>
  
</nav>
